.home-container {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
}
.intro-box {
  width: 100%;
  padding: 4rem 0;
}
.profile-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 1rem;
}
.img-bg{
    z-index: -1;
    background: #A3CA39;
    width: 25%;
    position: absolute;
    top: 0;
    left: 68rem;
    height: 67%;
}
.head-name {
  margin: 0rem 7rem;
  font-size: 4rem;
  font-weight: 600;
}
.head-desc {
  margin: .5rem 7rem;
  font-size: 1.2rem;
  padding-right: 8rem;
}
.head-comment {
    margin: 1.5rem 7rem;
    font-size: 1.2rem;
    padding-right: 8rem;
}
.btn {
  margin: .5rem 7rem;
  background: #A3CA39;
  color: white;
  border: 0;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: .5rem;
  cursor: pointer;
  transition: .1s;
}
.btn:hover{
    background-color: #99bc37;
}

.contact-container{
  display: flex;
}
.contact{
  background: #a3ca39;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 6rem 14rem;
}
.contact-head{
  font-size: 4rem;
  color: white;
  font-weight: 700;
}
.contact-email{
  color: white;
  font-size: 1.3rem;
}
.contact-icons{
  display: flex;
  align-items: center;
}
.contact-icons img{
  margin: .5rem .25rem;
  width: 1.5rem;
  height: 1.5rem;
}
.copyright{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.3rem;
  font-weight: bold;
}
.copyright .text{
  margin: 4rem 3rem;
}
